@media only screen and (min-width: 900px) {
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins",Verdana, Geneva, Tahoma, sans-serif;
}
section{
  padding: 100px;
  margin:10px;
}
body{
  background-color: #EEEEEE;
    
} 
/*About us */
#core{

  display: flex;
  justify-content: space-around;
}
.container-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text{
  width: 450px;
}
 .Cimapicoltura{
font-weight:normal;
font-size: larger;
}

.Cimapicoltura-img{
  width: 300px;;
  height: 300px;;
}

/*Caroussel*/

  .carousel {
    align-items: center;
    display: flex;
    margin: 50px;
    position: relative;
    width:auto;
    min-height: 60vh;
    width:fit-content;
    
    
    
  }
   .carousel__images {
        align-items: center;
        display: flex;
        transform: translateX(0);
        transition: transform 0.25s;
        
    }
  
      .img-caroussel {
        border-radius: 5px;
        height: 160px;
        width: 160px;
        padding:2px;
      }
      .active {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
        height: 370px;
        width: 370px;
        z-index: 1;
      }
    
      .caroussel-title
      {
        text-align: center;
      }

    .carousel__button {
    background: teal;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
    font-style:oblique;
    position: relative;


}
      .carousel__button.previous {
        left: 5px;
      }
  
      .carousel__button.next {
        right: 5px;
      }
  
      img:hover , button:hover {
        opacity: 0.5;
      }
  
/*Contact US*/
.formValid{
  
}
#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 #name, #password, #email{
   
    border:2px solid black;
    border-radius: 8px;
    padding:8px 8px;
    padding-right: 50px;
    color:#000;
    font-size: 16px;
    font-weight:normal;
    width: 600px;
    
}
/* #name, #password, #email ::hover
{
     
  border:2px solid red;
} */
.contact-heading
{
  text-align: center;
}

.form-element{
  display: flex;
  flex-direction: column;
}

label{
  padding: 5px;
  margin: 5px;
}
textarea
{
  border:2px solid black;
  border-radius: 8px;
  padding:8px 8px;
  padding-right: 50px;
  color:#000;
  font-size: 16px;
  font-weight:normal;
  height: 200px;
  width: 600px;
 
}
}
  @media only screen and (max-width: 800px){
    body{
    background-color:#94F3E4;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  } 
  .carousel{
  display: none;
  }
  #core{
    display:flex;
    flex-direction:column;
  }
  .container-left{
  width: 100%
  text-align: center;
  padding:20px;
  margin:30px;
  }
  .Cimapicoltura-img{
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  * {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#form ,.contact-heading{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
}
input,textarea{
   
  border:2px solid #00ADB5;
  border-radius: 8px;
  padding:3px 3px;
  color:#00ADB5;
  font-size: 16px;
  font-weight:normal;  
}
.form-element{
  display: flex;
  flex-direction: column;
}
}
